{% extends 'userbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Weltmeister-Tipp ändern</h1>

    <div>
        {{ form(form, { method: 'POST' }) }}
    </div>
</div>
{% endblock %}
