{% extends 'base.html.twig' %}

{% block body %}
    <div class="position-relative w-100 h-100">
        <div class="position-absolute top-0 start-0 bottom-0 end-0" style="background-color: #334457;">
            <img style="width: 100%; height: auto; mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);"
                 src="/login_background.gif">
        </div>
        <div class="container d-flex justify-content-center align-items-center h-100">
            <div class="card shadow-lg" style="width: 22rem; background-color: rgba(255,255,255,0.8)">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="username">E-Mail</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="password">Passwort</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                        <button class="btn btn-lg btn-primary" type="submit">
                            Einloggen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
