{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Strafpunkte</h1>

    <div>
        Damit Strafpunkte eingetragen werden können muss zuerst eine Saison erstellt (oder eine existierende aktiviert) werden. Erledige das <a href="{{ path('app_admin_seasons_list') }}">hier</a>.
    </div>
</div>
{% endblock %}
