{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Tipps</h1>

    <div>
        Damit Tipps für Rennen eingetragen werden können muss zuerst ein Rennen erstellt werden. Erledige das <a href="{{ path('app_admin_races_list') }}">hier</a>.
    </div>
</div>
{% endblock %}
