{% extends 'userbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Rennübersicht</h1>

    {% set isUserAdmin = false %}
    {% if app.user is defined and ROLE['ADMIN'] in app.user.roles %}
        {% set isUserAdmin = true %}
    {% endif %}

    <div>
        {% if isUserAdmin %}
            Damit Tipps für Rennen eingetragen werden können muss zuerst ein Rennen erstellt werden. Erledige das <a href="{{ path('app_admin_races_list') }}">hier</a>.
        {% else %}
            Damit Tipps für Rennen eingetragen werden können muss ein Administrator zuerst ein Rennen erstellen.  Wende Dich diesbezüglich an einen Administrator.
        {% endif %}
    </div>
</div>
{% endblock %}
