{% extends 'userbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Passwort ändern für {{ user.firstName }} {{ user.lastName }}</h1>

    <div class="form--max-width">
        {{ form(form, { method: 'POST' }) }}
    </div>
</div>
{% endblock %}
