{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Neues Rennen - {{ season.name }}</h1>

    <div class="form--max-width">
        {{ form(form, { method: 'POST' }) }}
    </div>
</div>
{% endblock %}
